
body {
  font-family: 'Roboto', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

.logo { 
  float: left; margin-right: 10px; width: 70px; height: 70px;
}

.nav-link {
  color: #B0D9B1;
  font-weight: bold; 
}

.navigasi .nav-link {
  color: #198754;
  font-weight: bold;
}
.navigasi .nav-link:hover {
  color: black;
  font-weight: bold;
}


.nav-item .active {
  color: #ffff; 
}

.nav-link:hover {
  color: #ffff;
}

.nav-link:focus{
  color: #B0D9B1;
}

.btn-outline-secondary:hover {
  background-color: #198754;
}

.cover {
  background-size: cover;
  background-position: center;
  display: flex;
}

.outer-card {
  position: relative;
  overflow: hidden;
}
.background-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; 
  background-color: #198754; 
  z-index: -1;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.section-title2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 0px;
}

.custom-alert {
  z-index: 1; /* Sesuaikan z-index sesuai kebutuhan */
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#image-preview-ktp {
  max-width: 100%;
  max-height: 200px;
  margin-top: 20px;
  display: none;
}

#image-preview-selfie {
  max-width: 100%;
  max-height: 200px;
  margin-top: 20px;
  display: none;
}

.centered-icon {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}

.centered-icon hr {
  flex-grow: 1;
  border: none;
  height: 1px;
  background-color: #ccc;
}

.centered-icon .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  border-radius: 50%; /* Untuk ikon berbentuk lingkaran */
}

.step-container {
  display: flex;
}

.step {
  position: relative;
  margin-right: 10px;
}

.step i {
  font-size: 35px;
  line-height: 90px; 
  width: 90px; 
  height: 90px; 
  background: linear-gradient(to right, #0d8c46, #3fb048);
  color: white; 
  border-radius: 50%;
  margin-bottom: 10px; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.step::before {
  content: '\f105';
  font-family: "FontAwesome";
  position: absolute;
  right: 20%;
  top: 18%;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.2);
  font-size: 25px;
}

.step-container:last-child .step::before {
  content: none;
}

.active>.page-link {
  color: white;
  background-color: #0d8c46;
  border-color: #0d8c46;
}
.page-link{
  color: #0d8c46;
  background-color: white;
}
.page-link:hover{
  color: #0d8c46;
  background-color: white;
}

.form-check-input:checked {
  background-color: #0d8c46;
  border-color: #0d8c46;
 }