
.logo { 
  float: left; margin-right: 10px; width: 70px; height: 70px;
}

.nav-link {
  color: #B0D9B1;
  font-weight: bold; 
}

.nav-item .active {
  color: #ffff; 
}

.nav-link:hover {
  color: #ffff;
}

.btn-outline-secondary:hover {
  background-color: #198754;
}

.cover {
  background-size: cover;
  background-position: center;
  display: flex;
}

.outer-card {
  position: relative;
  overflow: hidden;
}
.background-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; 
  background-color: #198754; 
  z-index: -1;
}
